* {
	box-sizing: border-box;
	font-family: 'montserrat-regular';
	font-size: 0.8rem;
}

body {

	background: #E1E5EE;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat-regular', sans-serif;
	margin: -20px 0 50px;
	max-height: 150vh;
	min-height: 120vh;
}

h1 {
	font-family: 'montserrat-bold';
	margin: 0;
	color: rgba(118, 123, 145, 0.8);
	font-size: 2.3rem;
}

h2 {
	text-align: center;
}

p {
	font-family: 'montserrat-regular';
	font-size: 0.9rem;
	line-height: 130%;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 1rem;
	color: rgba(118, 123, 145, 0.8);
}

a {
	font-family: 'montserrat-regular';
	font-size: 0.9rem;
	line-height: 130%;
	color: #E0A893;
	text-decoration: none;
}

button {
	border-radius: 20px;
	border: 1px solid #F5BB8E;
	background-color: #F5BB8E;
	color: #FFFFFF;
	font-family: 'montserrat-semibold';
	font-size: 0.9rem;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 0.8s ease-in;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: transparent;
	color: rgba(118, 123, 145, 0.8);
}

form {
	background-color: rgba(225, 229, 238, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: white;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	border-radius: 0.375rem;
	color: rgba(118, 123, 145, 0.8);
}

input::placeholder {
	color: rgba(118, 123, 145, 0.8);
}

input:focus {
	outline: 1px solid #E0A893;
}

.container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15),
		0 5px 5px rgba(0, 0, 0, 0.1);
	position: relative;
	overflow: hidden;
	width: 65%;
	max-width: 100%;
	height: 73%;
	max-height: 100%;
	min-height: 370px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 1s ease-in-out;
}

.sign-in-container {
	right: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	z-index: 0;
	transform: translateX(-100%);
}

.sign-up-container {
	right: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.left-panel-active .sign-up-container {
	animation: hide 1s;
}

@keyframes hide {

	0%,
	49.99% {
		opacity: 1;
		z-index: 5;
	}

	50%,
	100% {
		opacity: 0;
		z-index: 1;
	}
}


.container.right-panel-active .sign-up-container {
	transform: translateX(-100%);
	opacity: 1;
	z-index: 5;
	max-height: 100%;
}

.container.right-panel-active.active .sign-up-container {
	animation: show 1s;
}

@keyframes show {

	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 1s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container {
	transform: translateX(100%);
}

.overlay {
	background: #F5BB8E;
	background: -webkit-linear-gradient(to right, #FEFAEE, #F5BB8E);
	background: linear-gradient(to right, #FEFAEE, #F5BB8E);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	right: 100%;
	height: 100%;
	width: 200%;
	transform: translateX(0%);
	transition: transform 1s ease-in-out;
}

.container.right-panel-active .overlay {
	transform: translateX(0%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 1s ease-in-out;
}

.overlay-panel h1 {
	color: white;
}

.container.right-panel-active .overlay-left {
	transform: translateX(200%);
}

.overlay-right {
	left: 0;
	transform: translateX(-20%);
}

.overlay-left {
	left: 0;
	transform: translateX(100%);
}

.container.right-panel-active .overlay-right {
	transform: translateX(100%);
}

.errorMessage {
	color: #E0A893;
	width: 100%;
	padding-left: 5%;
	font-size: small;
}

.successMessage {
	width: 100%;
	padding-left: 5%;
	font-size: small;
	font-family: 'montserrat-bold';
	color: rgba(118, 123, 145, 0.8);
}