<div class="container mt-5 mb-5" [ngClass]="{ 'left-panel-active':register}" id="container" #container>
  <div class="form-container sign-in-container text-center">
    <form [formGroup]="sendEmailForm">
      <h1>Send Email </h1>
      <span class="mt-2 mb-3">to reset your password</span>
      <input type="email" placeholder="Email" required formControlName="emailTs" class='email' (click)="inputClick()" />
      <div *ngIf="
            this.sendEmailForm.get('emailTs')?.hasError('required') 
            && this.sendEmailForm.get('emailTs')?.touched" class="errorMessage text-start">
        * Email is required.
      </div>
      <div *ngIf="
            this.sendEmailForm.get('emailTs')?.hasError('email')" class="errorMessage text-start">
        * Must be a valid email.
      </div>
      <div *ngIf="successMessage!=='' && error==''" class="successMessage">
        {{successMessage}}
      </div>
      <div *ngIf="error!==''" class="errorMessage">
        {{error}}
      </div>

      <button class="xghost mt-3" id="signIn" (click)="sendEmail()" [attr.disabled]="disabled?true:null"> Send
        Email</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Dont worry!</h1>
        <p>We all forget things sometimes. Enter your email so we can send you a reset link and you'll
          be using MeLog in no time again.
        </p>
        <button class="ghost" routerLink='/login'> Go Back</button>
      </div>
    </div>
  </div>
</div>