<div class="container">
    <div class="title mt-5 text-center"> Profile Password</div>
    <div class="subtitle mt-3 text-center">
        Here you can reset your password
    </div>
    <form action="" class="mt-5 mb-5 passwordForm" [formGroup]="profileResetPassword">
        <div class="form-group mb-4">
            <label for="oldPassword">Old password:</label>
            <input type="password" class="form-control" formControlName="oldPasswordTs" />
        </div>

        <div class="form-group mb-4">
            <label for="newPassword1">New password:</label>
            <input type="password" class="form-control" formControlName="newPassword1Ts" />
            <small id="newPassword1" class="ps-2 form-text error"
                *ngIf="profileResetPassword.get('newPassword1Ts')?.hasError('pattern')">
                * Password must be at least 8 characters long with a captial letter, one number and one special
                character.
            </small>
        </div>
        <div class="form-group mb-4">
            <label for="newPassword2">Retype password:</label>
            <input type="password" class="form-control" formControlName="newPassword2Ts" />
            <small id="newPassword2" class="ps-2 form-text error"
                *ngIf="profileResetPassword?.errors?.['equalValues'] && (profileResetPassword.get('newPassword1Ts')?.dirty && profileResetPassword.get('newPassword2Ts')?.dirty)">
                * Passwords must be the same.
            </small>
        </div>
        <div class="button mb-5">
            <button class="btn btn-secondary w-100 mb-2"
                [disabled]="!profileResetPassword.valid && (profileResetPassword.valid && profileResetPassword.untouched)"
                (click)="saveChanges()">Save Changes</button>
            <div *ngIf="successMessage!=''"><small class=" ps-2 helperTextt"> {{successMessage}}</small></div>
            <div *ngIf="errorMessage!=''"><small class="ps-2 error">{{errorMessage}}</small></div>
        </div>

        <small id="passwordHelp" class="helperTextt">&#9432; New password must be at least 8 characters long with a
            captial letter, one number and one special character.</small>
    </form>
</div>