.passwordForm {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 0px;
    font-family: 'poppins-semibold';
    color: #767b91cc;
    line-height: 120%;
}

.subtitle {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0px;
    font-family: 'poppins-regular';
    color: rgba(118, 123, 145, 0.6);
    line-height: 120%;
}

input[type='password'] {
    accent-color: #E0A893;
}

input {
    color: rgba(118, 123, 145, 0.6);
}

input[type='password']::placeholder {
    color: rgba(118, 123, 145, 0.6);
}


input[type='password']:focus {
    outline: none;
    border: 1px solid #E0A893;
    box-shadow: 0 1px 1px rgba(245, 187, 142, 0.075) inset, 0 0 8px rgba(245, 187, 142, 0.6);
    color: rgba(118, 123, 145, 0.6);
}

input[type='password']:active {
    outline: none;
    border: 1px solid #E0A893;
    box-shadow: 0 1px 1px rgba(245, 187, 142, 0.075) inset, 0 0 8px rgba(245, 187, 142, 0.6);
    color: rgba(118, 123, 145, 0.6);
}

label,
small {
    color: rgba(118, 123, 145, 0.6);
}

button.btn:disabled {
    background-color: rgba(118, 123, 145, 0.3);
    border: 0px;
}

small.error {
    color: #E0A893;
}

button {
    background-color: rgba(118, 123, 145, 0.6);
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

button:hover {
    background-color: rgba(118, 123, 145, 0.8);
    border: 0px;
}