<div class="card p-5" #formView>
    <div class="card-title text-center">
        <h1>Manage profile view:</h1>
    </div>
    <div class="card-body mt-4">

        <div class="row">
            <div class="col-12">
                <div class="subtitle mb-3">
                    Profile Settings:
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="first align-middle">#</th>
                            <th scope="col" class="first align-middle">Setting name:</th>
                            <th scope="col" class="first align-middle text-center">Disable it</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let category of categories; let i=index">
                            <tr>
                                <th scope="row" class="align-middle">{{i+1}}</th>
                                <td class="align-middle">{{category.name}}</td>
                                <td class="align-middle text-center editIcon" (click)="disableSetting(category)">
                                    <div class="faicon">
                                        <ng-container *ngIf="category.admin_status ;else adminDisabled">
                                            <fa-icon [icon]="iconActive"></fa-icon>
                                        </ng-container>
                                        <ng-template #adminDisabled>
                                            <fa-icon [icon]="iconDisabled" class='iconDisabled'></fa-icon>
                                        </ng-template>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>