.card {
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 25px 20px -20px;
  color: rgba(118, 123, 145, 0.8);
  font-family: 'poppins-regular';
  border: none;
  min-height: 440px;
}

.card-header {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  border: none;
}

.card-header button.close {
  color: #F6BB8E;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'montserrat-bold';
  border: none;
  padding: 0px;
  margin-bottom: 0px !important;
  transition: all .3s ease-in-out;
}

.card-header button.close:hover {
  transform: scale3d(1.2, 1.2, 1.2);
  color: #E0A893;
}

.card-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0px;
  font-family: 'poppins-bold';
  color: rgba(118, 123, 145, 1);
}

.card-subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: 'poppins-regular';
  color: rgba(118, 123, 145, 0.8) !important;
}

form {
  width: 100%;
  margin: 0 auto;
}

input {
  padding-left: 1em;
  margin: 0 auto;
  color: rgba(118, 123, 145, 0.8);
  font-size: 1rem;
  outline: none;
}

.inputLine {
  line-height: 2;
}

.form-control:focus,
input:focus,
input:active {
  outline: none !important;
  outline-color: transparent !important;
  outline-style: none !important;
  box-shadow: none;
  border: 1px solid rgba(118, 123, 145, 0.5);
}

.form-control:focus::placeholder {
  color: rgba(118, 123, 145, 0.5) !important;
}

input::placeholder {
  color: rgba(118, 123, 145, 0.8) !important;
}

.form-group.button {
  transition: all .3s ease-in-out;
}

.form-group.button:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transform: scale3d(1.01, 1.01, 1.01);
}

button.btn.btn-secondary:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

button.btn-secondary {
  width: 100%;
  background-color: rgba(118, 123, 145, 0.8) !important;
  color: white;
  border: none;
  text-transform: lowercase;
}

.form-group.button:active {
  color: white !important;
}

button:disabled,
button[disabled] {
  background-color: rgba(118, 123, 145, 0.2) !important;
  pointer-events: none;
  color: white !important;
}

.message {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.message p {
  margin-top: 0%;
  margin-bottom: 0;
}

.message p button {
  text-decoration: none;
}

small.successMessage {
  color: rgba(118, 123, 145, 0.8);
}

div.form-group {
  width: 85%;
  margin: 0 auto;
}

.text-danger {
  width: 100%;
  margin: 0 auto;
}

.link-secondary {
  font-family: 'poppins-regular';
  color: rgba(118, 123, 145, 0.8) !important;
  text-decoration: none;
  font-weight: 800;
  text-transform: lowercase;
  font-size: 0.9rem;
  padding: 0px 8%;
  border-radius: 1em 0 1em 0;
  background-image: linear-gradient(-100deg,
      rgba(254, 250, 238, 0.4),
      rgba(246, 187, 142, 0.7) 95%,
      rgba(254, 250, 238, 0.2));
}

.text-danger {
  color: #F6BB8E !important;
}

input,
input:focus,
textarea,
textarea:focus {
  color: rgba(118, 123, 145, 0.8);
}