<div class="wrapper text-center mt-1 mx-auto">
    <div class="card mt-5  text-center mx-auto row">
        <div class="card-body text-center mt-5 mb-5 col-12">
            <div class="icons col-12">
                <fa-icon icon="circle-check" class="faicon"></fa-icon>
            </div>
            <div class="card-title mt-5 mb-5 col-12">
                <p>Email successfully verified!</p>
            </div>
            <div class="card-text mb-5 mt-5 col-12">
                <p>You will be redirected to login page in few seconds.</p>
            </div>
            <div class="card-text mb-5 mt-5 col-12">
                <p class="smaller">Or click the button below.</p>
            </div>
            <div class="goback mt-5">

                <fa-icon icon="circle-right" class="faicon back" (click)="login()"></fa-icon>

            </div>
        </div>

    </div>
</div>