<div class="container text-center">
  <div class="heading mt-5 mb-1">
    <h1>A place to Log into You.<br />
    </h1>
  </div>
  <div class="subheading col-md-6">
    <h3>MeLog helps you enhance your mindfulness, productivity and promotes healthy habits in just a few minutes a day.
    </h3>
  </div>

  <!-- CALL TO ACTION CALL TO ACTION CALL TO ACTON -->
  <div class="callToAction">
    <div class="btn btn-outline-light btn-lg" id="myButton" (click)="toRegister()">Start logging...</div>
  </div>
  <div class="hookText mt-2 mb-5">
    <h4>Join now and get free lifetime access!</h4>
  </div>

  <!-- MOCKUP VIEW MOCKUP VIEW MOCKUP VIEW MOCKUP VIEW -->
  <div class="appPreview mb-5">
    <img src="../../../../assets/images/mockup-app.jpg" class="mockupImage">
  </div>

  <!-- CALL TO ACTION CALL TO ACTION CALL TO ACTON -->
  <div class="callToAction">
    <div class="btn btn-outline-light btn-lg" id="myButton" (click)="toRegister()">Begin your logging journey </div>
  </div>
  <div class="hookText mt-2 mb-5">
    <h4>Join now and get free lifetime access!</h4>
  </div>

  <!--  FEATURE HIGHLIGHT FEATURE HIGHLIGHT FEATURE HIGHLIGHT -->
  <div class="row featureHighlight mb-5">
    <div class="col-lg-7 col-sm-12 text-center featureTopColumn">
      <div class="imageWrapper">
        <img src="../../../../assets/images/laptopmockup2.jpg" class="mockupImageFeature" />
      </div>
    </div>
    <div class="col-lg-5 col-sm-12 text-start my-auto featureBottomColumn ps-4">
      <div class="featureTitle">
        <span class="h3">
          Personal Diary
        </span>
      </div>
      <div class="featureSubtitle mb-5 mt-1">
        <span class="h6">
          to easily log all your daily toughts
        </span>
      </div>
      <div class="featureDescription mb-5">
        <p>
          Diary feature of MeLog is perfect for everything from quick notes to in-depth essays.
          You can add pictures to your daily logs for even more personalized feel.
          Easily filter all your past logs when you need to remember how your day went.
          And if you make a mistake, don't worry. All logs can be edited once they are saved.
        </p>
      </div>
      <div class="linkCallToAction text-end">
        <a class="btn btn-link link-secondary" (click)="toRegister()">Try out Day Log feature</a>
      </div>
    </div>
  </div>

  <!-- SECOND SECOND SECOND SECOND SECOND SECOND -->
  <div class="row featureHighlight mb-5 mt-5">
    <div class="col-lg-5 col-sm-12 text-start my-auto pe-4 featureTopColumn">
      <div class="featureTitle">
        <span class="h3">
          Use different trackers
        </span>
      </div>
      <div class="featureSubtitle mb-5 mt-1">
        <span class="h6">6 different trackers for you to use</span>
      </div>
      <div class="featureDescription mb-5">
        <p>
          You can track hours of sleep, daily water intake, daily moods, energy levels and your daily activities (steps
          count or workouts).
          Trackers will help you build healthy habits and give you an insight into your life. And it takes only a minut
          to log each day.
        </p>
      </div>
      <div class="linkCallToAction text-end">
        <a class="btn btn-link link-secondary" (click)="toRegister()">Build healthy habits</a>
      </div>
    </div>
    <div class="col-lg-7 col-sm-12 text-center featureBottomColumn">
      <div class="imageWrapper">
        <img src="../../../../assets/images/trackersmockup.jpg" class="mockupImageFeature" />
      </div>
    </div>
  </div>

  <!-- THIRD THIRD THIRD THIRD THIRD THIRD THIRD -->
  <div class="row featureHighlight mb-5 mt-5">
    <div class="col-lg-7 col-sm-12 text-center featureTopColumn">
      <div class="imageWrapper">
        <img src="../../../../assets/images/chartsmockup.jpg" class="mockupImageFeature" />
      </div>
    </div>
    <div class="col-lg-5 col-sm-12 text-start my-auto ps-4 featureBottomColumn">
      <div class="featureTitle">
        <span class="h3">
          Detailed overview of trackers
        </span>
      </div>
      <div class="featureSubtitle mb-5 mt-1">
        <span class="h6">see a detailed overview of all your trackers</span>
      </div>
      <div class="featureDescription mb-5">
        <p>
          Each tracking feature has it's detailed overview so you can get a deeper feeling of your daily habits and
          watch them change with time. You can choose to see your trackings through a line pie chart to get a visual
          understanding.
        </p>
      </div>
      <div class="linkCallToAction text-end">
        <a class="btn btn-link link-secondary" (click)="toRegister()">Start building your charts</a>
      </div>
    </div>
  </div>

  <!-- FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES FEATURES -->
  <div class="appFeatures mb-5 mt-5">
    <div class="row">
      <div class="col-md-4  col-sm-12 oneFeature d-flex flex-column">
        <div class="featureIcon align-bottom mb-5">
          <img src="../../../../assets/images/onoff.jpg" class="featureImage" alt="...">
        </div>
        <div class="featureTitle">
          <h3>
            Customizable Features
          </h3>
        </div>
        <div class="featureSubtitle mb-3">
          <small class="smallHook">
            Easily turn on, or off, diary features
          </small>
        </div>
        <div class="featureBody px-3 d-flex flex-column h-100">
          <p class="mb-auto">
            Any feature of the diary can be turned off or on, according to your preferences.
            All you have to do is click on the x icon and the fature won't be active anymore.
            If you change your mind, go to profile settings and just turn it back on again.
          </p>
        </div>
      </div>
      <div class="col-md-4  col-sm-12 oneFeature d-flex flex-column">
        <div class="featureIcon align-bottom mb-5">
          <img src="../../../../assets/images/gratitude.jpg" class="featureImage" alt="...">
        </div>
        <div class="featureTitle">
          <h3>Gratitude Diary</h3>
        </div>
        <div class="featureSubtitle mb-3">
          <small class="smallHook"> for all small and big things you are grateful for</small>
        </div>
        <div class="featureBody px-3 d-flex flex-column h-100">
          <p class="mb-auto"> Start the habit of journaling your gratitudes because researchers have found that
            people who write about gratitude are more optimistic and feel better about their lives in general.
            Logging gratitudes forces us to pay attention to the good things in life we might otherwise take for
            granted.
          </p>
        </div>
      </div>

      <div class="col-md-4  col-sm-12 oneFeature d-flex flex-column">
        <div class="featureIcon align-bottom mb-5">
          <img src="../../../../assets/images/affirmation screenshot.png" class="featureImage" alt="...">
        </div>
        <div class="featureTitle">
          <h3>Affirmations</h3>
        </div>
        <div class="featureSubtitle mb-3">
          <small class="smallHook"> get a different one every day</small>
        </div>
        <div class="featureBody px-3 d-flex flex-column h-100">
          <p class="mb-auto"> We all need some emotional suppoort and encouragement. Some days we need it more and some
            less.
            Affirmations have the power to motivate you and get you going.
            However you feel that day, you will find your affirmation of the day there to help you embrace the day.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- CALL TO ACTION CALL TO ACTION CALL TO ACTON -->
  <div class="callToAction">
    <div class="btn btn-outline-light btn-lg" id="myButton" (click)="toRegister()">Feeling ready to start logging?</div>
  </div>
  <div class="hookText mt-2 mb-5">
    <h4>Join now and get free lifetime access!</h4>
  </div>

  <!-- TESTEMONIALS TESTEMONIALS TESTEMONIALS TESTEMONIAL -->
  <div class="container testemonials mb-3">
    <div class="row carousel">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <ng-container *ngFor="let t of formatedData; let i=index">
            <ng-container *ngIf="i%3==0">
              <div class="carousel-item" [ngClass]="{'active': i<=0}">
                <div class="row row-cols-1 row-cols-md-3 g-2">
                  <ng-container *ngFor="let t of formatedData; let j=index">
                    <ng-container *ngIf="j>=i && j<=i+2">
                      <div class="col">
                        <div class="card h-100">
                          <div class="profle-img text-center">
                            <ng-container *ngIf="t.path && t.anonymous==0; else defaultPhoto">
                              <img src="{{t.path}}" class="card-img-top" alt="...">
                            </ng-container>
                            <ng-template #defaultPhoto>
                              <img src="../../../../assets/images/user_placeholder.png" class="card-img-top" alt="...">
                            </ng-template>
                          </div>
                          <div class="card-body">
                            <div class="card-title">
                              <ng-container *ngIf="t.anonymous==0; else an">
                                <h5>{{t.first_name|uppercase}} {{t.last_name|uppercase}}</h5>
                              </ng-container>
                              <ng-template #an>
                                <h5>Anonymous User</h5>
                              </ng-template>
                            </div>
                            <div class="card-text">
                              <p class="">{{t.text}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-indicators">
          <ng-container *ngFor="let test of formatedData; let k=index">
            <ng-container *ngIf="k%3==0">
              <button type="button" data-bs-target="#carouselExampleDark" [attr.data-bs-slide-to]="k/3" class="active"
                aria-current="true" [attr.aria-label]="k/3"></button>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <!-- CALL TO ACTION CALL TO ACTION CALL TO ACTON -->
  <div class="callToAction">
    <button class="btn btn-outline-light btn-lg myButton" id="myButton" (click)="toRegister()">Join <span
        class='melog'>MeLog</span> now</button>
  </div>
  <div class="hookText mt-2 mb-5">
    <h4>Join now and get free lifetime access!</h4>
  </div>
</div>