<div class="container mt-5 mb-5" [ngClass]="{ 'right-panel-active':register}" id="container" #container>
    <div class="form-container sign-in-container text-center">
        <form [formGroup]="resetPasswordForm">
            <h1>Reset Password </h1>
            <span class="mt-2 mb-3">to enter MeLog</span>
            <input type="email" formControlName="emailTs" class='email' [readonly]="true" value="{{email}}" />

            <div *ngIf="
            this.resetPasswordForm.get('emailTs')?.hasError('email')" class="errorMessage text-start">
                * Must be a valid email.
            </div>

            <input type="password" class="password" placeholder='Type new password' required
                formControlName="passwordTs" />
            <div *ngIf="
            (this.resetPasswordForm.get('passwordTs')?.hasError('required') 
            && this.resetPasswordForm.get('passwordTs')?.touched)" class="errorMessage text-start">
                * Password is required
            </div>
            <input type="password" class="password" placeholder='Retype new password' required
                formControlName="confirmPasswordTs" />
            <div *ngIf="
            (this.resetPasswordForm.get('confirmPasswordTs')?.hasError('required') 
            && this.resetPasswordForm.get('confirmPasswordTs')?.touched)" class="errorMessage text-start">
                * Password is required
            </div>
            <div *ngIf="this.resetPasswordForm.errors!==null" class="errorMessage text-start">
                {{this.resetPasswordForm.errors.match_error}}</div>

            <div *ngIf="getError!==''" class="errorMessage text-start">
                * {{getError}}
            </div>
            <div *ngIf="errorInUrl!==''" class="errorMessage">
                * {{errorInUrl}}
            </div>
            <div *ngIf="successMessage!==''" class="successMessage">
                {{successMessage}}
            </div>
            <button class="xghost mt-3" id="signIn" (click)="resetPassword()"
                [disabled]="(errorInUrl!==''|| this.resetPasswordForm.errors!==null)?true:false"> Reset</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Dont worry!</h1>
                <p>You can now reset your password and you'll be asked to login again so you can continue to use MeLog.
                </p>
                <button class="ghost" routerLink='/login'> Back To Login</button>
            </div>
        </div>
    </div>
</div>