.card {
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 25px 20px -20px;
    color: rgba(118, 123, 145, 0.8);
    font-family: 'poppins-regular';
    border: none;
    min-height: 260px;
}

.card-header {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
    border: none;
}

.card-header button.close {
    color: #F6BB8E;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'montserrat-bold';
    border: none;
    padding: 0px;
    margin-bottom: 0px !important;
    transition: all .3s ease-in-out;
}

.card-header button.close:hover {
    transform: scale3d(1.2, 1.2, 1.2);
    color: #E0A893;
}

.card-title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 0px;
    font-family: 'poppins-bold';
    color: rgba(118, 123, 145, 1);
}

.card-subtitle {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'poppins-regular';
    color: rgba(118, 123, 145, 0.8) !important;
}

table {
    width: 100%;
}

tr {
    width: 100%;
    margin: 0 auto;
}

.track td {
    padding-right: 10px;
    ;
}

fa-icon {
    color: rgba(118, 123, 145, 0.6);
    font-size: 4vw;
    transition: all .3s ease-in-out;
}

input {
    width: 95%;
}

.glass {
    padding-left: 6px;
    padding-right: 6px;
}

.link-secondary {
    font-family: 'poppins-regular';
    color: rgba(118, 123, 145, 0.8) !important;
    text-decoration: none;
    font-weight: 800;
    text-transform: lowercase;
    font-size: 0.9rem;
    padding: 0px 8%;
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient(-100deg,
            rgba(254, 250, 238, 0.4),
            rgba(246, 187, 142, 0.7) 95%,
            rgba(254, 250, 238, 0.2));
}

.clicked fa-icon {
    color: #F5BB8E !important;
}

.clicked fa-icon,
.clicked2 fa-icon {
    color: #F5BB8E !important;
    pointer-events: none;
}

.buttonLink {
    margin-bottom: 0px;
    position: absolute;
    bottom: 5%;
    right: 3%;
    width: 100%;
}

a .waterGlassNumber,
a {
    text-decoration: none !important;
    color: rgba(118, 123, 145, 0.8) !important;
}

a fa-icon:hover {
    text-decoration: none !important;
    color: #F5BB8E !important;
}