<div class="wrapper text-center mt-1 mx-auto">
    <div class="card mt-5  text-center mx-auto my-auto row">
        <div class="card-body text-center mt-5 mb-5 col-12">
            <div class="icons col-12">
                <fa-icon icon="circle-xmark" class="faicon"></fa-icon>
            </div>
            <div class="card-title mt-5 mb-5 col-12">
                <p>404</p>
            </div>
            <div class="card-text mt-5 col-12">
                <p>There is nothing here...</p>
            </div>
            <div class="card-text mb-5 mt-4 col-12">
                <p class="smaller">Please click on the arrow to go back</p>
            </div>
            <div class="goback mt-5">

                <fa-icon icon="arrow-left-long" class="faicon back" (click)="goBack()"></fa-icon>

            </div>
        </div>

    </div>
</div>