.wrapper {
    margin: 0 auto;
}

.card.col-11 {
    margin: 0 auto;
    padding: 0px;
    box-shadow: rgb(0 0 0 / 30%) 0px 25px 20px -20px;
    border: 0px;
}

.card-title {
    color: rgba(118, 123, 145, 1);
    font-family: 'poppins-bold';
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.card-subtitle {
    /* font-size: 18px;
   font-weight: 200; */
    font-style: italic;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'poppins-regular';
    color: rgba(118, 123, 145, 0.8) !important;
}

.btn-link.goback {
    font-size: 14 px;
    font-weight: 200;
    font-style: italic;
    font-family: 'poppins-regular';
    text-decoration: none;
    color: rgba(118, 123, 145, 0.8) !important;
}

.btn-link.goback:hover {
    font-weight: 600;
    color: rgba(118, 123, 145, 1);
}

button {
    padding: 0px;
}

fa-icon.ng-fa-icon {
    color: rgba(118, 123, 145, 0.8) !important;
    font-size: 2em;
    margin: auto;
}

.card-footer {
    background-image: linear-gradient(-100deg, rgba(254, 250, 238, 0.4), rgba(246, 187, 142, 0.7) 95%);
    border-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
}

.noData.message {
    color: rgba(118, 123, 145, 0.6);
    font-family: 'poppins-regular';
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 150%;
    margin-bottom: 0px;
}