<div class="card">
    <div class="card-body">
        <div class="card-title">
            <p>Activity tracker:</p>
        </div>
        <div class="card-subtitle text-muted mb-3">
            How active were you today?
        </div>
        <form action="">
            <table class="tabela">
                <tr>
                    <td><input type="text" placeholder="How many steps did you take?"></td>
                    <td><input type="text" placeholder="How many steps did you take?"></td>

                </tr>
                <tr class="text-end track text-muted">
                    <td>Log Steps</td>
                    <td>Log Activity</td>
                </tr>
            </table>
        </form>
    </div>
</div>