.card {
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 25px 20px -20px;
    color: rgba(118, 123, 145, 0.8);
    font-family: 'poppins-regular';
    border: none;
    min-height: 260px;
}

.card-header {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
    border: none;
}

.card-header button.close {
    color: #F6BB8E;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'montserrat-bold';
    border: none;
    padding: 0px;
    margin-bottom: 0px !important;
    transition: all .3s ease-in-out;
}

.card-header button.close:hover {
    transform: scale3d(1.2, 1.2, 1.2);
    color: #E0A893;
}

.card-title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 0px;
    font-family: 'poppins-bold';
    color: rgba(118, 123, 145, 1);
}

.card-subtitle {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'poppins-regular';
    color: rgba(118, 123, 145, 0.8) !important;
}

.card-text {
    font-size: 5.2vw;
    font-weight: 200;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(118, 123, 145, 1);
}

.blink {
    border-right: 4px solid #F6BB8E;
    animation: 1s blink infinite;
}

@keyframes blink {
    to {
        opacity: 0;
    }
}

.affirmationcard:hover {
    cursor: pointer;
}

#tooltip {
    background-color: #a0a6aa;
    color: white;
    padding: 1px 10px;
    border-radius: 4px;
    font-size: 12px;
    display: none;
    opacity: 0.7;
}

#tooltip[data-show] {
    display: block;
}

.clickon {
    pointer-events: all;
}

.clickoff {
    pointer-events: none;
}